@model IEnumerable<OrderModel>
@{
    ViewData["Title"] = "ConfirmOrder";
}

<h1>Order Confirmation</h1>
<h2>Thanks for you order! </h2>

<div class="d-flex flex-wrap">
    @foreach (var item in Model)
    {


        <div class="card rounded overflow-hidden shadow" style="margin:5px; box-shadow:2px;">
            <div class="card-body form-group" style="font-family: Arial, Helvetica, sans-serif">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item form-group" name="userId" value="@Html.DisplayFor(modelItem => item.UserID)">UserId: @Html.DisplayFor(modelItem => item.UserID)</li>

                    <li class="list-group-item form-group" name="total" value="@Html.DisplayFor(modelItem => item.OrderAmount)">Amount: @Html.DisplayFor(modelItem => item.OrderAmount)</li>

                    <li class="list-group-item form-group" name="orderdate" value="@Html.DisplayFor(modelItem => item.OrderDate)">Date: @Html.DisplayFor(modelItem => item.OrderDate)</li>
                </ul>
            </div>
        </div>
    }
</div>

