@model ICollection<ProductModel>
@{
    ViewData["Title"] = "Cart";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">*@
<script src="https://use.fontawesome.com/c293fcd665.js"></script>
<div class="text-center">
    <h1 class="display-4" justify-content-start">The Cart:</h1>
</div>
<div class="d-flex flex-wrap">
    <div class="align-content-lg-end col-12" style="background-color: lightslategrey; border-radius: 5px; text-align: right;font-family: Arial, Helvetica, sans-serif; height:1px; margin-bottom:10px;">
        <p></p>
    </div>
        @foreach (var item in Model)
        {
            <form method="post">
                <div></div>
                <div class="card" style="margin:5px; box-shadow:2px;">
                    <img class="card-img-top" id="itemImage" src="@Html.DisplayFor(modelItem => item.ImgUrl)" />
                    <div class="card-body form-group" style="font-family: Arial, Helvetica, sans-serif">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item form-group" style="display:none" name="Id" value="@Html.DisplayFor(modelItem => item.Id)">@Html.DisplayFor(modelItem => item.Id)</li>

                            <li class="list-group-item" name="name">@item.Name</li>

                            <li class="list-group-item" name="description">@item.Description</li>

                            <li class="list-group-item" name="price">@item.Price</li>

                            <li class="list-group-item" name="add">
                                <div class="d-flex flex-wrap d-inline" style="text-align:center">
                                    <button class="btn btn-light-green" type="submit" name="Subtract" asp-action="SubtractOne">
                                        <img src="../pic/minus-square-solid.svg" height="20px;" />
                                    </button>
                                    <p style="max-height:inherit;">@Html.DisplayFor(modelItem => item.Quantity)</p>
                                    <button class="btn btn-light-green" type="submit" name="Add" asp-action="AddOne">
                                        <img src="../pic/plus-square-solid.svg" height="20px;" />
                                    </button>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <button class="btn-outline-dark" type="submit" style="box-shadow:none; border-radius:5px" name="Remove" asp-action="Remove"><img src="../pic/window-close-solid.svg" height="20px;" />Remove</button>
                            </li>
                        </ul>
                        <input value="@Html.DisplayFor(modelItem => item.Id)" type="hidden" name="Id" />
                    </div>
                </div>
            </form>
        }
    
    </div>


<div class="align-content-lg-end col-12" style="background-color: lightslategrey; border-radius: 5px; text-align: right;font-family: Arial, Helvetica, sans-serif; height:1px; margin-top:10px; margin-bottom:10px;">
    <p></p>
</div>
<div class="d-flex flex-wrap justify-content-end">
    <form method="post">
        <button class="btn-danger" type="submit" style="box-shadow:none; border:none; border-radius:5px; margin-left:5px; margin-right:5px; width:auto;" name="RemoveAll" asp-controller="Home" asp-action="RemoveAll"><img src="../pic/trash-alt-regular.svg" height="20px;" /> Empty Cart</button>
    </form>


            @if (SignInManager.IsSignedIn(User))
            {
                <form method="post">
                    <button class="btn-success" type="submit" style="box-shadow:none; border:none; border-radius:5px; margin-left:5px; margin-right:5px; width:auto;" asp-controller="Home" asp-action="ConfirmOrder"><img src="../pic/credit-card-solid.svg" height="20px;" /> Place Order</button>
                </form>
            }
            else
            {
                <a class="btn-success" style="box-shadow:none; border:none; border-radius:5px; margin-left:5px; margin-right:5px; width:auto;" asp-area="Identity" asp-page="/Account/Login"><img src="../pic/credit-card-solid.svg" height="20px;" />Place Order</a>
            }
            <p> To Pay: @AVCLabbErikL.Controllers.HomeController.totalAmount</p>
</div>

